/* CSS Styles */

/* Importación de fuentes */
/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Libre+Baskerville:wght@400;700&display=swap'); */

/* Variables de color */
:root {
    /* #0b4749 */
    --color-primario: #29145f;
    --color-secundario: #5A989B;
    --color-fondo: #F5F7F6;
    --color-texto: #181818;
    --color-enlaces: #096f9b;

    --color-boton: #009688;
    --color-boton-hover: #00796B;
}

/* Estilo global */
body {
    display: flex;
    /* font-family: 'Playfair Display', serif; */
    font-weight: 400;
    background-color: var(--color-fondo);
    color: var(--color-texto);
}

/* Títulos */
h1, h2, h3, h4, h5, h6 {
    /*font-family: 'Libre Baskerville', serif; */
    font-weight: 1000;
    color: #4A145f; /* Asegúrate de que este color sea consistente */
}


/* Enlaces */
a {
    color: var(--color-enlaces);
    text-decoration: none;
}

a:hover {
    color: var(--color-primario);
}

/* Barra de navegación */
.navbar {
    background-color: var(--color-secundario);
    color: white;
}

.navbar a {
    color: white;
}

.navbar a:hover {
    color: var(--color-primario);
}
